.App 
    align-items: center
    display: flex
    flex-direction: column
    justify-content: center
    height: 100vh

.graf 
  width: 70%
  margin: 1em

select
  padding: .4em
  border-radius: 1em
  text-align: center

button 
  margin: 1em

